name: BUILD AND PUSH PixOne Docker Image

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        required: true
        default: "master"
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          repository: Excel-Technologies-Ltd/excel-frappe-docker

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Frappe Docker Image
        run: |
          export APPS_JSON='[
            {"url": "https://github.com/frappe/erpnext", "branch": "version-15"},
            {"url": "https://github.com/pixfar/pix_one.git", "branch": "master"}
          ]
          '

          export APPS_JSON_BASE64=$(echo ${APPS_JSON} | base64 -w 0)

          docker buildx build \
          --no-cache \
          --platform linux/amd64 \
          --build-arg FRAPPE_PATH=https://github.com/frappe/frappe \
          --build-arg FRAPPE_BRANCH=version-15 \
          --build-arg PYTHON_VERSION=3.11.9 \
          --build-arg NODE_VERSION=20.19.2  \
          --build-arg APPS_JSON_BASE64="$APPS_JSON_BASE64" \
          --tag pixfar/pixone-erp:latest \
          --file images/custom/Containerfile \
          --push .